/*------------------------------------*\
    # components.answer
\*------------------------------------*/

.answer {
    position: absolute; 
    bottom: 0;
    width:100%;
    max-width: 600px;
    padding-left: calc($unit * 2);
    padding-right: calc($unit * 2);
    padding-top: calc($unit * 3);
    background: white;
    border-top: 1px solid color(black a(0.15));

    &__input {
        border-radius: $global-rounded;
        margin-bottom: calc($unit * 4);
        border: 1px solid color(black a(0.15));
        box-shadow: -1px 0px 14px -4px rgba(0,0,0,0.2);
        @mixin type-scale $type-base, 1;
    }

    &__submit {
        position: absolute; 
        right: 0;
        bottom: calc($unit * 5);
        padding-right: calc($unit * 8);
    }
}