/*------------------------------------*\
    # utils.type
\*------------------------------------*/

.u-type {

    &--bold {
        font-weight: $type-weight-bold;
    }
  
    &--center {
        text-align: center;
    }

    &--upper {
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    /* Sizes */
    &--alpha {
        @mixin type-scale $type-xlarge, 2;
        @media (--screen-from-med) {
            @mixin type-scale $type-xxlarge, 2.25;
        }
    }
    
    &--beta {
        @mixin type-scale $type-large, 1.5;
        @media (--screen-from-med) {
            @mixin type-scale $type-xlarge, 1.75;
        }
    }
    
    &--gamma {
        @mixin type-scale $type-medium, 1.25;
        @media (--screen-from-med) {
            @mixin type-scale $type-large, 1.5;
        }
    }
    
    &--delta {
        @mixin type-scale $type-base, 1;
        @media (--screen-from-med) {
            @mixin type-scale $type-medium, 1.25;
        }
    }

    &--epsilon {
        @mixin type-scale $type-small, 0.75;
        @media (--screen-from-med) {
            @mixin type-scale $type-base, 1;   
        }
    }

    &--zeta {
        @mixin type-scale $type-tiny, 0.75;
        @media (--screen-from-med) {
            @mixin type-scale $type-small, 0.75;
        }
    }

    /* Colors */
    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }

    &--neutral {
        color: color($color-text whiteness(+25%));
    }

    &--negative {
        color: white;
    }

    /* Shorten long links */
    &--shorten {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

}