<div class="chat__messages">
    <div class="message message--moderator">
        <div class="message__sender">
            John Wayne asks
        </div>
        <div class="message__body">
            <p class="message__body__content">What is the tallest building in France?</p>
        </div>
    </div>

    <div class="message message--player">
        <div class="message__sender">
            <span class="message__player">Hawkins</span> replies for team <span class="message__team">#WeKnow</span>
        </div>
        <div class="message__body">
            <p class="message__body__content">Tour First!</p>
        </div>
    </div>
</div>
